@import url(global.css);

header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.navgation-menu {
  margin-top: 24px;
}
input[type="checkbox"]:checked ~ nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
  display: block;
}
nav {
  display: none;
}
.list-links {
  list-style: none;
}
.list-links li {
  margin: 16px 0;
}
.list-links li a {
  text-decoration: none;
  color: var(--text-secundary-color);
  cursor: pointer;
}
