/* .main-header {
  width: 320px;
} */
.main-header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.img-mobile {
  display: block;
}
.img-desktop {
  display: none;
}
.navgation-menu {
  margin-top: 24px;
}
input[type="checkbox"]:checked ~ nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
  display: block;
}
nav {
  display: none;
}
.list-links {
  list-style: none;
}
.list-links li {
  margin: 16px 0;
}
.list-links li a {
  text-decoration: none;
  color: var(--text-secundary-color);
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}
.header {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .navgation-menu {
    margin-top: 0;
    width: 467px;
  }
  .navgation-menu label {
    display: none;
  }
  .navgation-menu nav {
    display: block;
  }
  .navgation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .navgation-menu ul li {
    margin: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    width: 260px;
    height: 64px;
  }
  .img-desktop {
    display: block;
  }
  .img-mobile {
    display: none;
  }
  .navgation-menu a:hover {
    color: var(--primary-color);
  }
}
